---
layout: page
title: "To My Love"
description: 
header-img: "img/post-bg-rwd.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <h1>To My Love</h1>

    <p>缘分是一种很奇妙的东西</p>
    
    <p>突然就在那一天，降临在你我二人身上</p>
    
    <p>初见你时，你的腼腆不由得激起了我的保护欲；你的活泼可爱，不由得让我的心泛起阵阵波澜</p>

    <p>我的拍照技术并不好，没有捕获到你最动人的瞬间，而你却那么宽容，依然很认真地配合我</p>
    
    <p>自那以后，我的心里住进来了一个人</p>
    
    <p>如同久旱逢甘露，你，便是我生命中，照亮我心房的那束光</p>

    <blockquote>
        <p>我偷偷碰了你一下， 却不料你如蒲公英散开, 此后到处都是你的模样。 ——贾平凹</p>
    </blockquote>

    <p>和你相遇我都变懒了，懒得再想别的事，懒得再遇见别的人。心里只会想着你，想陪着你，或者你陪着我，就这么简单又有些无聊，然而我愿意</p>
    
    <p>世界上美好的东西不太多，仲夏清晨弥漫山间的雾，立秋傍晚河岸吹来的风，和十八岁笑起来要人命的你。我是多么幸运，在刚刚好的年纪，遇到美好的你</p>
    
    <p>或许我给不了你富足的资产，或许我也给不了你足够的浪漫</p>
    
    <p>但可以肯定的是，我担得起我对你的爱，我会全力以赴地给予你惊喜和幸福</p>
    
    <p>我会毫不犹豫地奔向你，这次，每次，次次</p>
    
    <p>但是，May I ask：</p>
    
    <h2>我可以一直一直在你身边吗？</h2>
</div>

<script>
    const audio = new Audio('/love/audio/bgm.mp3');
    audio.play();
</script>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.8.0/gitalk.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.8.0/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: '{{ site.gitalk.clientID }}',
        clientSecret: '{{ site.gitalk.clientSecret }}',
        // proxy: '{{site.gitalk.proxy}}',
        repo: '{{ site.gitalk.repo }}',
        owner: '{{ site.gitalk.owner }}',
        admin: ['{{ site.gitalk.admin }}'],
        id: '{{ page.title }}',      // Ensure uniqueness and length less than 50{{ page.title }}
        distractionFreeMode: '{{ site.gitalk.distractionFreeMode }}'  // Facebook-like distraction free mode
    
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
{% endif %}

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

